[submodule "Packages/TilemapObservable"]
	path = Packages/TilemapObservable
	url = git@github.com:KleioSim/UnityPackage.TilemapObservable.git
[submodule "Packages/MvvmFramework"]
	path = Packages/MvvmFramework
	url = git@github.com:KleioSim/UnityPackage.MvvmFramework.git
[submodule "Packages/UI.CameraControl"]
	path = Packages/UI.CameraControl
	url = git@github.com:KleioSim/UnityPackage.UI.CameraControl.git
[submodule "Packages/Noesis.NoesisGUI"]
	path = Packages/Noesis.NoesisGUI
	url = git@github.com:KleioSim/UnityPackage.Noesis.NoesisGUI.git
